.form-container {
    max-width: 40rem;
    margin: 0 auto;
}

.inline-container {
    display: flex;
    flex-flow: row wrap;
}

.inline-container * {
    flex: 1 0 15rem;
}

input, select {
    width: 100%;
}
