body  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9F5F0;

    h1 {
        margin: 2rem 0rem;
    }

    form {
        width: 95%;
        margin: 2rem 0rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(245, 231, 190);
        border-radius: 0.5em;

        fieldset {
            width: 70%;
            margin: 2rem;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 0.5em;
        }

        label {
            padding: 0.5rem 0rem;
             display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        select {
            width: 100%;
        }

        input {
            width: 100%;
            margin-top: 0.5rem;
            padding: 0.5rem;
            border: none;
            border-radius: 0.3rem;
        }

        input[type="submit"] {
            width: 60%;
        }

        .form-container {
            width: 100%;
            
            @media screen and (min-width: 700px) {
                display: flex;
                display: row;
                flex-wrap: wrap;
                justify-content: space-between;

                .company {
                    width: 100%;
                }
            }
        }

        // form
        @media screen and (min-width: 700px) {
            width: 70%;
            background-color: rgb(219, 231, 219);
        }
    }

}

